<h1>新規投稿</h1>
<%=form_for @negishi, url:'/negishes' do |f| %>
<h4>Title</h4>
<%=f.text_field :title%>
<h4>Body</h4>
<%=f.text_area :body%>
<h4>Image</h4>
<%= f.attachment_field :image%><br>
<%=f.submit '投稿' %>

<% end %>