<h4>Title</h4>
<p><%=@negishi.title%></p>
<h4>Body</h4>
<p><%=@negishi.body%></p><br>
<%=link_to '投稿一覧', negishes_path%>
<%=link_to '編集へ', edit_negish_path(@negishi) %>
<%=link_to '削除', negish_path(@negishi), method: :delete, "data-confirm" => "本当に削除しますか？" %>
